.App {
  text-align: center;
  min-width: 500px;
}


/*body, html{
    margin: 0px;
    width : 100%;
    height: 100%;
}*/

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 30px;
  font-family: "Segoe UI", "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
}

/*.navbar{
  background-color: #ff6e40;
}*/

.navbar-right{
    font-size: 17px;
    position: relative;
    display: block;
}

.navbar-right > li{
  padding: 10px 15px;

}

canvas{
  border: 1px dashed;
  padding: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: right;
  padding: 5px;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #f5f5f5;
}

.App  > .container{
  padding-top: 100px;
}

.WordArea{
   font-kerning: 5;
   font-size: 5vw;
   white-space: nowrap;
   padding-top: 30px;
}


.header{
  /*background-color: #222;*/
  height: inherit;
  padding: 20px;
  /*color: white;*/
  overflow: auto;
}

.title{
  font-size: 4em;
}

.statistics{
  font-size: 1.5em;
  text-align: left;
}

.alert{
  position: relative;
  margin: 50px;
}
.align-left{
    float: left;
}

.align-right{
  float : right;
}

.CharSelector{
  padding-top: 30px;
}

.CharButton{
  margin: 3px;
  padding: 5px;
  font-size: 2.0vw;
  width: 50px;
  font-weight: bold;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
