.App {
  text-align: center;
  min-width: 500px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

*{
  border: 1px solid black;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.WordArea{
   font-kerning: 5;
   font-size: 100px;
   white-space: nowrap;
}

.CharSelector{
}

.header{
  height : 50px;
}
.CharButton{
  margin: 3px;
  padding: 5px;
  font-size: 2.5vw;
  width: 50px;
  font-weight: bold;
}

button{

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
